* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
:root {
  --width: 230px;
  --padding: 50px;
  --height: 320px;
}
.card {
  width: 230px;
  height: 320px;
  border: 1px solid #fff;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.5s;
  margin-left: 20px;
}
.card .basic {
  position: absolute;
  left: -1px;
  top: -1px;
  background-color: #444b;
  border: inherit;
}
.card .right {
  width: var(--padding);
  height: var(--height);
  transform: translateX(var(--width)) rotateY(90deg);
  transform-origin: left;
}
.card .bottom {
  height: var(--padding);
  width: var(--width);
  bottom: -1px;
  transform: translatey(var(--height)) rotatex(-90deg);
  transform-origin: top;
}
.card .bottom {
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.card .bottom i {
  border: inherit;
  padding: 10px;
  color: #fff;
  transition: 0.9s;
  cursor: pointer;
}
.card .imge-of-card {
  width: var(--width);
  height: var(--height);
}
.card .imge-of-card img {
  width: 100%;
  height: 100%;
}
.card .bottom i:hover {
  background-color: #222;
}
.card:hover {
  transform: rotateX(60deg) rotatey(-20deg);
}
